@font-face {
  font-family: 'Tomoe';
  src: url('/fonts/Tomoe.ttf') format('truetype');
}

.font-tomoe {
  font-family: 'Tomoe';
  font-weight: normal !important;
}

.text-tomoe {
  color: var(--color-subtitle);
}

.text-xlg {
  font-size: 72pt;
}

.text-lg {
  font-size: 30pt;
}

.coming-soon-wrapper {
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
  line-height: 30px;
}

.logo-custom-size {
  width: 320px;
  margin: 0 auto;
}

.maintanence-area .row {
  min-height: 100vh;
}

.comeing-soon-slick {
  min-height: 400px;
}

.anchor {
  scroll-margin-top: 7em;
}

.card-thumbnail {
  margin-bottom: 25px;
}

.card-details {
  padding-top: 10px;
}

.product-style-one {
  margin-left: 55px;
  margin-right: 55px;
}

.btn-sm {
  padding: 7px 10px!important;
}

.card-details a {
  color: white!important;
}

.card-details .product-name {
  font-size: 25pt!important;
}

.bid-react-area {
  margin-top: 0!important;
}

@media only screen and (min-width: 1200px) and (max-width: 1599px) {
  .maintanence-area .inner .content p {
      margin-top: 150px;
  }
}
