@font-face {
  font-family: "Tomoe";
  src: url('/fonts/Tomoe.ttf') format('truetype');
}

.font-special {
  font-family: 'Tomoe';
}

.text-xlg {
  font-size: 72pt;
}

.text-theme {
  color: var(--color-subtitle)
}