@font-face {
  font-family: 'Tomoe';
  src: url('/fonts/Tomoe.ttf') format('truetype');
}

.font-tomoe {
  font-family: 'Tomoe';
}

.text-tomoe {
  color: var(--color-subtitle);
}

.text-xlg {
  font-size: 72pt;
}

.coming-soon-wrapper {
  text-align: center;
  margin-top: 80px;
  font-size: 20px;
  line-height: 30px;
}
